/* .photo{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(150deg, rgb(53, 51, 56) 15%, #8ee2f3 70%, #dff0f7 94%);
  transform: skewY(-7deg);
  transform-origin: top left 

} */
body{
    background-image: url(nasamed.jpg);
    background-size: 100%;
}
h1{
    align-items: center;
    padding-left: 30%;
    color: rgb(213, 213, 223);
    background-color: black;
    
    
}
.flex{
    font-size: 25px;
    color: rgb(17, 17, 16);
    display: inline-flex;
    justify-content: space-between;
    /* border: solid 10px black; */
}
.ab{
    border: solid 5px black;
    margin: 2%;
    background-color: rgb(192, 184, 152,0.5);
}
.cd{
    border: solid 5px black;
    margin: 2%;
    background-color: rgb(192, 184, 152,0.5);
}

.ef{
    border: solid 5px black;
    background-color: rgb(192, 184, 152,0.5);
    margin: 2%;
}
.gh{
    border: solid 5px black;
    background-color: rgb(192, 184, 152,0.5);
    margin: 2%;
}
.ij{
    border: solid 5px black;
    background-color: rgb(192, 184, 152,0.5);
    margin: 2%;
}
.gallary{
    /* display: flex; */
    justify-content: space-between;
}