/* General */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(29, 29, 29);
    padding: 0;
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}


/* Header */

header {
    height: 25em;
    position: relative;
    color: snow;
}

.top__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.web_nav a {
    color: snow;
    text-decoration: none;
    margin-left: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.web_nav a:hover {
    box-shadow: 0 0 2px 1px rgba(209, 188, 0, 0.7);
}

.text {
    width: 30%;
    margin-right: auto;
    text-align: right;
    margin-top: 50px;
}

.top__nav h4 {
    font-size: 20px;
    font-family: 'Anton', sans-serif;
}


/* Body */

.con_container {
    display: flex;
    justify-content: space-between;
}

.img_container {
    position: relative;
    width: 50%;
}

.img_container img {
    width: 100%;
    height: auto;
}

.img_container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.img_container .btn:hover {
    background-color: rgb(231, 168, 31);
}

.img_container h3 {
    color: snow;
    display: flex;
    justify-content: center;
}


/* Footer */

footer {
    color: snow;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 25px;
}